<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body class="container bg-info mx-3 mt-3">
    <h3>{{ques}}</h3>
    <form action="" method="post">
        {% csrf_token %}
        {% for question in questions %}
            <div>
                <h2>{{ question.question }}</h2>
                <label>
                    <input type="radio" name="choice_{{ question.question }}" value="good"> Good
                </label>
                <label>
                    <input type="radio" name="choice_{{ question.question }}" value="bad"> Bad
                </label>
            </div>
        {% endfor %}
        <button type="submit">Submit Votes</button>
    </form>
</body>
</html>